<section class="block">
  <header class="block__header container">
    <h2 class="block__heading">Heading</h2>
    <p class="block__tagline">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
      explicabo eius eos iste asperiores iure ex illum laboriosam modi repellat.
    </p>
  </header>
</section>
<section class="block block--dark block--skewed-left">
  <header class="block__header container">
    <h2 class="block__heading">Heading</h2>
    <p class="block__tagline">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
      explicabo eius eos iste asperiores iure ex illum laboriosam modi repellat.
    </p>
  </header>
</section>
