<div class="grid grid--1x2 featured-group">
  <div class="media media--vertical">
    <div class="media__image">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/icons/sprite.svg#easy"></use>
        </svg>
      </span>
    </div>
    <div class="media__body">
      <h3 class="media__title">Super Easy to Use</h3>
      <p class="media__body-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere alias
        officiis dolorum corporis? Distinctio pariatur aperiam natus asperiores,
        fugiat cumque.
      </p>
    </div>
    <a href="#" class="link-arrow">Learn More</a>
  </div>
  <picture>
    <source
      class="featured__image"
      type="image/webp"
      srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
    />
    <source
      class="featured__image"
      type="image/png"
      srcset="images/easy.png 1x, images/easy@2x.png 2x"
    />
    <img class="featured__image" src="images/easy.png" alt="" />
  </picture>
</div>
<div class="grid grid--1x2 featured-group featured--reversed">
  <div class="media media--vertical">
    <div class="media__image">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/icons/sprite.svg#easy"></use>
        </svg>
      </span>
    </div>
    <div class="media__body">
      <h3 class="media__title">Simply fast websites</h3>
      <p class="media__body-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere alias
        officiis dolorum corporis? Distinctio pariatur aperiam natus asperiores,
        fugiat cumque.
      </p>
    </div>
    <a href="#" class="link-arrow">Learn More</a>
  </div>
  <picture class="featured__image-source">
    <source
      class="featured__image"
      type="image/webp"
      srcset="images/fast.webp 1x, images/fast@2x.webp 2x"
    />
    <source
      class="featured__image"
      type="image/png"
      srcset="images/fast.png 1x, images/fast@2x.png 2x"
    />
    <img class="featured__image" src="images/fast.png" alt="" />
  </picture>
</div>
